@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

@theme {
  --color-primary: #046353;
  --color-text-2: #f58369;
  --color-text-3: #c7d993;
  --color-text-1: #046353;
  --font-family-poppins: 'Poppins', system-ui, -apple-system, sans-serif;
  --font-family-paytone: 'Paytone One', system-ui, -apple-system, sans-serif;
  --font-family-inter: 'Inter', system-ui, -apple-system, sans-serif;
  --font-family-charm: 'Charm', cursive, system-ui, sans-serif;
}

/* Custom global styles */
body {
  font-family: 'Poppins', system-ui, -apple-system, sans-serif;
}
