@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
html,
body {
  font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
}